body{
    background-color: cadetblue;
    padding: 50px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    width: 100%;
    min-height: 400px;
    border: 1px solid rgb(68, 68, 225);
}

.card {
    width: 200px;
    height: 300px;
    margin: 10px;
    background-color: bisque;
}